.buttonContainer {
    height: 100%;
}

.paginationContainer {
    align-items: flex-end;
    height: 100%;
}

.sliderButton {
    background-color: transparent;
    height: 100%;
    border: none;
    cursor: pointer;
    padding: 0 28px;
    transition: 0.3s linear;
    &:hover {
        background: rgba(14, 194, 97, 0.2);
    }
}

.sliderItem {
    padding: 236px 96px 20px 96px;
}

.sliderContent {
    position: relative;
    h3 {
        color: #fff;
        font-size: 40px;
        margin: 0 0 8px 0;
    }
    p {
        color: #EEE;
        font-size: 24px;
        margin: 0 0 25px 0;
        max-width: 485px;
        font-weight: 300;
        line-height: 24px;
    }
    button {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #EEEEEE;
        border-radius: 4px;
        width: 164px;
        height: 48px;
    }
}

.wrapImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (max-width: 1280px) {
  .sliderItem {
    padding: 277px 64px 20px 64px;
  }
  .sliderButton {
    padding: 0 12px;
  }
  .sliderContent {
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
    }
  }
}

.green {
  background: linear-gradient(90deg, hsla(169, 59%, 18%, 1) 0%, hsla(128, 82%, 26%, 1) 100%);
  &:hover {
    background: linear-gradient(90deg, hsla(148, 87%, 8%, 1) 2.61%, hsla(158, 96%, 16%, 1) 112.6%);
  }
  &:active {
    background: linear-gradient(90deg, hsla(148, 87%, -2%, 1) 2.61%, hsla(158, 96%, 6%, 1) 112.6%);
  }
}

.blue {
  background: linear-gradient(90deg, hsla(216, 59%, 18%, 1) 0%, hsla(169, 82%, 26%, 1) 100%);
  &:hover {
    background: linear-gradient(90deg, hsla(216, 59%, 8%, 1) 0%, hsla(169, 82%, 16%, 1) 100%);
  }
  &:active {
    background: linear-gradient(90deg, hsla(216, 59%, -2%, 1) 0%, hsla(169, 82%, 6%, 1) 100%);
  }
}

.red {
  background: linear-gradient(90deg, hsla(32, 59%, 18%, 1) 0%, hsla(335, 82%, 26%, 1) 100%);
  &:hover {
    background: linear-gradient(90deg, hsla(32, 59%, 8%, 1) 0%, hsla(335, 82%, 16%, 1) 100%);
  }
  &:active {
    background: linear-gradient(90deg, hsla(32, 59%, -2%, 1) 0%, hsla(335, 82%, 6%, 1) 100%);
  }
}

.purple {
  background: linear-gradient(90deg, hsla(263, 59%, 18%, 1) 0%, hsla(295, 82%, 26%, 1) 100%);
  &:hover {
    background: linear-gradient(90deg, hsla(263, 59%, 8%, 1) 0%, hsla(295, 82%, 16%, 1) 100%);
  }
  &:active {
    background: linear-gradient(90deg, hsla(263, 59%, -2%, 1) 0%, hsla(295, 82%, 6%, 1) 100%);
  }
}