.buttonContainer {
    height: 100%;
}

.paginationContainer {
    align-items: flex-end;
    height: 100%;
}

.sliderButton {
    background-color: transparent;
    height: 100%;
    border: none;
    cursor: pointer;
    padding: 0 28px;
    transition: 0.3s linear;
    &:hover {
        background: rgba(14, 194, 97, 0.2);
    }
}

.sliderItem {
    padding: 236px 96px 20px 96px;
}

.sliderContent {
    position: relative;
    h3 {
        color: #fff;
        font-size: 40px;
        margin: 0 0 8px 0;
    }
    p {
        color: #EEE;
        font-size: 24px;
        margin: 0 0 25px 0;
        max-width: 485px;
        font-weight: 300;
        line-height: 24px;
    }
    button {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #EEEEEE;
        background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
        border-radius: 4px;
        width: 164px;
        height: 48px;
    }
}

.sliderImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
  .sliderItem {
    padding: 277px 64px 20px 64px;
  }
  .sliderButton {
    padding: 0 12px;
  }
  .sliderContent {
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
    }
  }
}