.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;
}

.miniName {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #0EC261;
}

.cities {
  display: flex;
  align-items: center;
  svg {
      margin-right: 5px;
  }
}

.city {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}