.orderMain {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.orderMainContainer {
    width: calc(100% - 64px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.leftContainer {
    padding: 32px 64px;
    width: 70%;
    border-right: 1px solid #EEEEEE;
}

.orderWrap {
    display: flex;
    height: 100%;
}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {
    .orderWrap {
        flex-direction: column;
    }
    .leftContainer {
        border: 0;
        width: 100%;
        padding: 32px 64px 100px 64px;
    }
    .orderMainContainer {
        width: calc(100% - 86px);
    }
}

@media (max-width: 628px) {
    .orderMainContainer {
        width: 100%;
    }
    .leftContainer {
        padding: 16px;
        padding-bottom: 120px;
    }
}