.nav {
    margin: 0;
    padding: 6px 64px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    li {
        list-style-type: none;
        position: relative;
        a {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: #121212;
            ;
            transition: 0.3s linear;
            text-decoration: none;
            margin-right: 38px;
            &:hover {
                color: #0EC261;
            }
        }
        &:before {
            display: block;
            content: ' ';
            position: absolute;
            background-image: url('./listItem.svg');
            width: 6px;
            height: 8px;
            top: 50%;
            left: -18px;
            transform: translate(0, -50%);
        }
        &:first-child {
            &::before {
                display: none;
            }
        }
    }
}

.disabled {
    color: #999!important;
    pointer-events: none;
    cursor: default;
}

.active {
    color: #0EC261!important;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    li {
        a {
        }
        &:before {
            display: none;
        }
}}}