.orderStatus {
    padding: 32px 64px 32px 32px;
    width: 30%;
}

.yourOrder {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #121212;
}

.yourOrderContainer {
    margin-bottom: 26px;
    display: flex;
    justify-content: flex-end;
}

.totalPriceContainer {
    margin-bottom: 32px;
}

.orderPoint {
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;
}

.pointTitle {
    margin-right: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    white-space: nowrap;
}

.dots {
    flex: 1;
    overflow: hidden;
    margin-right: 11px;
    &:after {
        content: '..............................................................................................................................................................................................';
        display: block;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        color: #999999;
        font-size: 15px;
    }
}

.point {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    span {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #999999;
        text-align: right;
    }
}

.capitalize {
    text-transform: capitalize;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chooseModelButton {
    background: linear-gradient(90deg, hsla(148, 87%, 41%, 1) 2.61%, hsla(158, 96%, 32%, 1) 112.6%);
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 15px 5px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    &:disabled {
        background: #EEEEEE;
        cursor: default;
        pointer-events: none;
    }
    &:hover {
        background: linear-gradient(90deg, hsla(148, 87%, 31%, 1) 2.61%, hsla(158, 96%, 22%, 1) 112.6%);
    }
    &:active {
        background: linear-gradient(90deg, hsla(148, 87%, 21%, 1) 2.61%, hsla(158, 96%, 12%, 1) 112.6%);
    }
}

.cancelButton {
    background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
    &:hover {
        background: linear-gradient(90deg, darken(#493013, 5%) 0%, darken(#7B0C3B, 5%) 100%);
    }
    &:active {
        background: linear-gradient(90deg, darken(#493013, 10%) 0%, darken(#7B0C3B, 10%) 100%);
    }
}

.detailsButton {
    display: none;
    background: linear-gradient(90deg, hsla(148, 87%, 41%, 1) 2.61%, hsla(158, 96%, 32%, 1) 112.6%);
    width: 40%;
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    padding: 8px;
    &:disabled {
        background: #EEEEEE;
        cursor: default;
        pointer-events: none;
    }
    &:hover {
        background: linear-gradient(90deg, hsla(148, 87%, 31%, 1) 2.61%, hsla(158, 96%, 22%, 1) 112.6%);
    }
    &:active {
        background: linear-gradient(90deg, hsla(148, 87%, 21%, 1) 2.61%, hsla(158, 96%, 12%, 1) 112.6%);
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {
    .orderStatus {
        width: calc(100% - 86px);
        position: fixed;
        padding: 18px;
        bottom: 0;
        background: #fff;
        z-index: 1;
        border-top: 1px solid #000;
        right: 0;
        max-width: 100%;
    }
    .detailsContainer {
        display: none;
    }
    .chooseModelButton {
        width: 50%;
    }
    .detailsButton {
        display: block;
    }
    .orderPoint {
        margin-bottom: 16px;
    }
}

@media (max-width: 628px) {
    .orderStatus {
        width: 100%;
        padding: 14px 20px;
    }
    .detailsButton {
        width: calc(50% - 8px);
        font-size: 12px;
    }
    .chooseModelButton {
        width: calc(50% - 8px);
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 370px) {
    .buttons {
        flex-direction: column;
        button {
            margin-bottom: 14px;
            width: 100%;
            padding: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}