.main {
    padding: 32px 64px;
    width: calc(50% - 32px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 166px;
}

.miniName {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #0EC261;
}

.cities {
    display: flex;
    align-items: center;
    svg {
        margin-right: 5px;
    }
}

.city {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.firstArticle {
    color: #121212;
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    margin: 0;
    span {
        color: #0EC261;
        display: block;
    }
}

.sloganContainer {
    margin-bottom: 60px;
}

.slogan {
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #999999;
}

.rentButton {
    background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    width: 250px;
    padding: 14px 5px;
    &:hover {
      background: linear-gradient(90deg, darken(#0EC261, 10%) 2.61%, darken(#039F67, 10%) 112.6%);
    }
    &:active {
      background: linear-gradient(90deg, darken(#0EC261, 20%) 2.61%, darken(#039F67, 20%) 112.6%);
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
}

.phone {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #121212;
    text-decoration: none;
}

@media (max-width: 1280px) {
  .main {
    width: calc(60% - 32px);
    padding: 32px 32px 38px 32px;
  }
}


@media (max-width: 1024px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 628px) {
  .main {
    width: 100%;
    padding: 0;
  }
  .header {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 34px;
    padding: 16px;
  }
  .articles {
    margin-bottom: 16px;
    padding: 0 16px;
  }
  .firstArticle {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
  }
  .sloganContainer {
    margin-bottom: 32px;
    padding: 0 16px;
  }
  .slogan {
    font-style: normal;
    font-weight: 300;
    font-size: 18x;
    line-height: 21px;
    color: #999999;
  }
  .rentButton {
    width: 100%;
  }
  .footer {
    flex-direction: column-reverse;
    align-items: flex-end;
    background-color: #000;
    padding: 16px;
  }
  .copyright {
    color: #0EC261;
  }
  .phone {
    color: #eee;
    margin-bottom: 8px;
  }
}